<ul>
	<li ng-repeat="section in menu.section" class="section" ui-sref-active="active">
		<div layout="row">
			<md-button flex ui-sref="{{ section.state }}">
				<div layout="row" flex>
					<span class="white-text">{{ section.name }}</span>
					<span flex></span>
					<md-icon class="mdi mdi-chevron-down"></md-icon>
				</div>
			</md-button>
		</div>
		<!-- Child -->
		<ul class="pages">
			<li layout="row" ng-repeat="page in menu.pages[$index]">
				<md-button flex ui-sref="{{ page.state }}">
					<div layout="row" flex>
						<span flex="5"></span>
						<span class="white-text">{{ page.name }}</span>
						<span flex></span>
					</div>
				</md-button>
			</li>
		</ul>
	</li>
</ul>