<!-- Desktop Asset -->
<div ng-if="desktop" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/desktop-unit.content.template.html'"></div>

<!-- Hard Disk Asset -->
<div ng-if="hardDisk" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/hard-disk-unit.content.template.html'"></div>

<!-- Headset Asset -->
<div ng-if="headset" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/headset-unit.content.template.html'"></div>

<!-- Headset Asset -->
<div ng-if="keyboard" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/keyboard-unit.content.template.html'"></div>

<!-- Memory Asset -->
<div ng-if="memory" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/memory-unit.content.template.html'"></div>

<!-- Monitor Asset -->
<div ng-if="monitor" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/monitor-unit.content.template.html'"></div>

<!-- Mouse Asset -->
<div ng-if="mouse" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/mouse-unit.content.template.html'"></div>

<!-- Printer Asset -->
<div ng-if="printer" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/printer-unit.content.template.html'"></div>

<!-- Scanner Asset -->
<div ng-if="scanner" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/scanner-unit.content.template.html'"></div>

<!-- Software Asset -->
<div ng-if="software" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/software-unit.content.template.html'"></div>

<!-- UPS Asset -->
<div ng-if="ups" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/ups-unit.content.template.html'"></div>

<!-- Video Card Asset -->
<div ng-if="videoCard" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/video-card-unit.content.template.html'"></div>

<!-- Other Components Asset -->
<div ng-if="otherComponent" class="fade-transition" ng-include="'/app/components/admin/templates/content/units/other-component-unit.content.template.html'"></div>