<!-- Desktop Asset -->
<div ng-if="desktop" class="fade-transition" ng-include="'/app/components/admin/templates/content/assets/desktop.content.template.html'"></div>

<!-- Hard Disk Asset -->
<div ng-if="hardDisk" class="fade-transition" ng-include="'/app/components/admin/templates/content/assets/hard-disk.content.template.html'"></div>

<!-- Headset Asset -->
<div ng-if="headset" class="fade-transition" ng-include="'/app/components/admin/templates/content/assets/headset.content.template.html'"></div>

<!-- Headset Asset -->
<div ng-if="keyboard" class="fade-transition" ng-include="'/app/components/admin/templates/content/assets/keyboard.content.template.html'"></div>

<!-- Memory Asset -->
<div ng-if="memory" class="fade-transition" ng-include="'/app/components/admin/templates/content/assets/memory.content.template.html'"></div>