<div layout-padding layout="row" layout-align="center start">
	<div flex="70">	
		<md-card flex>
	        <md-card-header>
	          	<md-card-avatar layout="row" layout-align="center center" class="primary-bg circle">
	            	<!-- <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon> -->
	            	<span class="white-text md-headline">A</span>
	          	</md-card-avatar>
	          	<md-card-header-text>
	            	<span class="md-title">PCPU00001</span>
	            	<span class="md-subhead">just now</span>
	          	</md-card-header-text>
	        </md-card-header>
	        <!-- <img ng-src="/assets/img/Android-Lollipop-wallpapers-Download.jpg" class="md-card-image" alt="Washed Out"> -->
	        <md-card-title>
	          	<md-card-title-text>
	            	<span class="md-headline">Acer | Veriton M460G</span>
	            	<!-- <span class="md-subhead">Dex Media</span> -->
	          	</md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	        	<p>Serial Number: ASD8QW18ASD1Q5</p>
	        	<p>Warranty Expiration: December 30, 2017</p>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="END center">
	          	<md-button>Specs</md-button>
	          	<md-button>P.O. Details</md-button>
	        </md-card-actions>
	    </md-card>
	    <md-card flex>
	        <md-card-header>
	          	<md-card-avatar layout="row" layout-align="center center" class="primary-bg circle">
	            	<!-- <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon> -->
	            	<span class="white-text md-headline">A</span>
	          	</md-card-avatar>
	          	<md-card-header-text>
	            	<span class="md-title">PCPU00001</span>
	            	<span class="md-subhead">just now</span>
	          	</md-card-header-text>
	        </md-card-header>
	        <!-- <img ng-src="/assets/img/Android-Lollipop-wallpapers-Download.jpg" class="md-card-image" alt="Washed Out"> -->
	        <md-card-title>
	          	<md-card-title-text>
	            	<span class="md-headline">Acer | Veriton M460G</span>
	            	<!-- <span class="md-subhead">Dex Media</span> -->
	          	</md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	        	<p>Serial Number: ASD8QW18ASD1Q5</p>
	        	<p>Warranty Expiration: December 30, 2017</p>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="END center">
	          	<md-button>Specs</md-button>
	          	<md-button>P.O. Details</md-button>
	        </md-card-actions>
	    </md-card>
	    <md-card flex>
	        <md-card-header>
	          	<md-card-avatar layout="row" layout-align="center center" class="primary-bg circle">
	            	<!-- <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon> -->
	            	<span class="white-text md-headline">A</span>
	          	</md-card-avatar>
	          	<md-card-header-text>
	            	<span class="md-title">PCPU00001</span>
	            	<span class="md-subhead">just now</span>
	          	</md-card-header-text>
	        </md-card-header>
	        <!-- <img ng-src="/assets/img/Android-Lollipop-wallpapers-Download.jpg" class="md-card-image" alt="Washed Out"> -->
	        <md-card-title>
	          	<md-card-title-text>
	            	<span class="md-headline">Acer | Veriton M460G</span>
	            	<!-- <span class="md-subhead">Dex Media</span> -->
	          	</md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	        	<p>Serial Number: ASD8QW18ASD1Q5</p>
	        	<p>Warranty Expiration: December 30, 2017</p>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="END center">
	          	<md-button>Specs</md-button>
	          	<md-button>P.O. Details</md-button>
	        </md-card-actions>
	    </md-card>
	    <md-card flex>
	        <md-card-header>
	          	<md-card-avatar layout="row" layout-align="center center" class="primary-bg circle">
	            	<!-- <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon> -->
	            	<span class="white-text md-headline">A</span>
	          	</md-card-avatar>
	          	<md-card-header-text>
	            	<span class="md-title">PCPU00001</span>
	            	<span class="md-subhead">just now</span>
	          	</md-card-header-text>
	        </md-card-header>
	        <!-- <img ng-src="/assets/img/Android-Lollipop-wallpapers-Download.jpg" class="md-card-image" alt="Washed Out"> -->
	        <md-card-title>
	          	<md-card-title-text>
	            	<span class="md-headline">Acer | Veriton M460G</span>
	            	<!-- <span class="md-subhead">Dex Media</span> -->
	          	</md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	        	<p>Serial Number: ASD8QW18ASD1Q5</p>
	        	<p>Warranty Expiration: December 30, 2017</p>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="END center">
	          	<md-button>Specs</md-button>
	          	<md-button>P.O. Details</md-button>
	        </md-card-actions>
	    </md-card>
	</div>
</div>