<div layout-margin layout="row" layout-align="center start" flex class="overflow-auto">
	<div flex flex-gt-lg="80"  layout-padding >
		<div class="fade-transition" ng-if="purchaseOrder">
			<!-- Charts -->
			<div layout="row" layout-padding>
				<div ng-repeat="chart in purchaseOrder.asset_purchase_order" flex layout="column" layout-align="center center">	
					<h3 class="md-subhead primary-text">{{chart.asset.brand}} - {{chart.asset.model}}</h3>
					<canvas class="chart chart-doughnut" chart-data="chart.chart.data" chart-labels="chart.chart.labels" chart-legend="true"></canvas>
					<p>
						<span>Tagged : {{ chart.chart.data[0] }}</span> |
						<span>Untagged : {{ chart.chart.data[1] }}</span>
					</p>
				</div>
			</div>
			<md-divider></md-divider>
			<div layout="row">
				<div flex>
		        	<h3 class="md-headline">Date Purchased:</h3>
		        	<p layout="column">
		        		<span>{{ purchaseOrder.date_purchased | date: 'EEEE, MMMM d, yyyy' }}</span>
		        		<span class="secondary-text md-caption" am-time-ago="purchaseOrder.date_purchased"></span>
		        	</p>
		    	</div>
		    	<div flex>
		        	<h3 class="md-headline">Expected Time of Arrival</h3>
		        	<p layout="column">
		        		<span>{{ purchaseOrder.date_arrival | date: 'EEEE, MMMM d, yyyy' }}</span>
		            	<span class="secondary-text md-caption"><span am-time-ago="purchaseOrder.date_arrival"></span></span>
		        	</p>
		    	</div>
		    	<div flex>
		        	<h3 class="md-headline">Vendor:</h3>
		        	<p layout="column">
		        		<span>{{ purchaseOrder.vendor.company }}</span>
			            <span class="secondary-text md-caption">{{ purchaseOrder.vendor.contact_person }} - {{ purchaseOrder.vendor.email }} / {{ purchaseOrder.vendor.contact_number }}</span>
		        	</p>
		    	</div>
			</div>
			<md-divider></md-divider>
			<!-- Lists -->
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab ng-repeat="asset in purchaseOrder.asset_purchase_order" label="{{asset.asset.brand}} - {{asset.asset.model}} ({{asset.asset.type.type}})">
					<md-subheader ng-if="asset.asset.asset_tags.length">Tagged</md-subheader>
					<md-list layout="row" layout-wrap layout-padding>
						<md-list-item flex="100" flex-gt-md="50" flex-gt-lg="30" class="md-3-line" ng-repeat="asset_tag in asset.asset.asset_tags | orderBy: 'property_code'" ng-click="">
							<h2 class="md-avatar" ng-class="asset_tag.deleted_at ? 'red-bg' : 'primary-bg' " layout="row" layout-align="center center">
								<span class="md-headline white-text">{{asset.asset.model[0].toUpperCase()}}</span>
							</h2>
							<div class="md-list-item-text">
								<h3>{{asset_tag.property_code}} <span class="md-caption secondary-text" ng-if="asset_tag.deleted_at">(Deleted)</span></h3>
								<h4>{{asset_tag.work_station.name}}</h4>
								<p layout="column">
									<div>
										<span>End of warranty: </span>
										<span ng-if="!asset_tag.warranty_end">N/A</span>
										<span am-time-ago="asset_tag.warranty_end"></span>
										<md-tooltip ng-if="asset_tag.warranty_end">{{asset_tag.warranty_end | date: 'EEEE, MMMM d, yyyy'}}</md-tooltip>
									</div>
									<div>
										<span>Date Received: </span>
										<span ng-if="!asset_tag.date_received">N/A</span>
										<span am-time-ago="asset_tag.date_received"></span>
										<md-tooltip ng-if="asset_tag.date_received">{{asset_tag.date_received | date: 'EEEE, MMMM d, yyyy'}}</md-tooltip>
									</div>
								</p>
							</div>
							<md-menu ng-if="!asset_tag.deleted_at">
						    	<md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
							        <md-icon class="mdi mdi-24px mdi-dots-vertical grey"></md-icon>
							        <md-tooltip>Menu</md-tooltip>
							    </md-button>
							    <md-menu-content width="2">
							        <md-menu-item>
							          	<!-- Edit -->
										<md-button ng-click="editAssetTag(asset_tag.id)">
											<md-icon class="mdi mdi-24px mdi-pencil grey"></md-icon>
											Edit
										</md-button>
							        </md-menu-item>
							        <md-menu-item>
										<md-button ng-click="deleteAssetTag(asset_tag.id)">
											<md-icon class="mdi mdi-24px mdi-delete grey"></md-icon>
											Delete
										</md-button>
							        </md-menu-item>
							    </md-menu-content>
						    </md-menu>
						</md-list-item>
					</md-list>
					<div layout-padding>
						<p ng-if="!asset.asset.asset_tags.length" class="secondary-text">No asset tags yet.</p>
					</div>
				</md-tab>
			</md-tabs>
		</div>
		<div layout="row" layout-align="center center" ng-if="!purchaseOrder">
			<md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="96" ></md-progress-circular>
		</div>
	</div>
</div>
