<div class="md-padding" layout="row" layout-align="center start">
	<div flex-gt-md="90">
		<div layout="row" flex>
	        <md-card flex md-theme="dark-blue">
		        <md-card-title>
		          	<md-card-title-text>
			            <span class="md-headline white-text">Purchase Orders</span>
			            <span class="md-subhead white-text">Pending</span>
		          	</md-card-title-text>
		          	<md-card-title-media>
		            	<div class="md-media-sm" layout="row" layout-align="center center">
	            			<!-- <md-icon class="mdi mdi-format-list-numbers"></md-icon> -->
	            			<span class="md-display-1 white-text">2</span>
		            	</div>
		          	</md-card-title-media>
		       	</md-card-title>
		    </md-card>
		    <md-card flex layout="column" md-theme="dark-orange">
		        <md-card-title>
		          	<md-card-title-text>
			            <span class="md-headline white-text">Asset Tags</span>
			            <span class="md-subhead white-text">New</span>
		          	</md-card-title-text>
		          	<md-card-title-media>
		            	<div class="md-media-sm" layout="row" layout-align="center center">
	            			<!-- <md-icon class="mdi mdi-format-list-numbers"></md-icon> -->
	            			<span class="md-display-1 white-text">2</span>
		            	</div>
		          	</md-card-title-media>
		       	</md-card-title>
		    </md-card>
		    <md-card flex layout="column" md-theme="dark-teal">
		        <md-card-title>
		          	<md-card-title-text>
			            <span class="md-headline white-text">Activities</span>
			            <span class="md-subhead white-text">Recent</span>
		          	</md-card-title-text>
		          	<md-card-title-media>
		            	<div class="md-media-sm" layout="row" layout-align="center center">
	            			<!-- <md-icon class="mdi mdi-format-list-numbers"></md-icon> -->
	            			<span class="md-display-1 white-text">2</span>
		            	</div>
		          	</md-card-title-media>
		       	</md-card-title>
		    </md-card>
		</div>
		<md-card flex>
			<md-toolbar class="white-toolbar">
				<div class="md-toolbar-tools">
					<h2 class="primary-text">Asset tags January 2016 to present</h2>
				</div>
			</md-toolbar>
			<md-card-content layout-padding layout="row">
				<div flex="50">
					<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" ></canvas>
				</div>
				<div flex="50">
					<canvas id="pie" class="chart chart-pie" chart-data="pie.data" chart-labels="pie.labels" chart-options="options"></canvas>
				</div>
			</md-card-content>	
		</md-card>
		<md-card>
			<md-toolbar class="white-toolbar">
				<div class="md-toolbar-tools">
					<h2 class="primary-text">Activities</h2>
				</div>
			</md-toolbar>
			<md-card-content>
				<md-list layout="row" layout-wrap>
					<md-list-item class="md-3-line" flex="30">
						<h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
							<span class="md-headline white-text">M</span>
						</h2>
						<div class="md-list-item-text">
							<h3>Marco Paco</h3>
							<h3>add an asset tag.</h3>
							<p>yesterday.</p>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" flex="30">
						<h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
							<span class="md-headline white-text">M</span>
						</h2>
						<div class="md-list-item-text">
							<h3>Marco Paco</h3>
							<h3>add an asset tag.</h3>
							<p>yesterday.</p>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" flex="30">
						<h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
							<span class="md-headline white-text">M</span>
						</h2>
						<div class="md-list-item-text">
							<h3>Marco Paco</h3>
							<h3>add an asset tag.</h3>
							<p>yesterday.</p>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" flex="30">
						<h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
							<span class="md-headline white-text">M</span>
						</h2>
						<div class="md-list-item-text">
							<h3>Marco Paco</h3>
							<h3>add an asset tag.</h3>
							<p>yesterday.</p>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" flex="30">
						<h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
							<span class="md-headline white-text">M</span>
						</h2>
						<div class="md-list-item-text">
							<h3>Marco Paco</h3>
							<h3>add an asset tag.</h3>
							<p>yesterday.</p>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" flex="30">
						<h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
							<span class="md-headline white-text">M</span>
						</h2>
						<div class="md-list-item-text">
							<h3>Marco Paco</h3>
							<h3>add an asset tag.</h3>
							<p>yesterday.</p>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" flex="30">
						<h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
							<span class="md-headline white-text">M</span>
						</h2>
						<div class="md-list-item-text">
							<h3>Marco Paco</h3>
							<h3>add an asset tag.</h3>
							<p>yesterday.</p>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" flex="30">
						<h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
							<span class="md-headline white-text">M</span>
						</h2>
						<div class="md-list-item-text">
							<h3>Marco Paco</h3>
							<h3>add an asset tag.</h3>
							<p>yesterday.</p>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" flex="30">
						<h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
							<span class="md-headline white-text">M</span>
						</h2>
						<div class="md-list-item-text">
							<h3>Marco Paco</h3>
							<h3>add an asset tag.</h3>
							<p>yesterday.</p>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line" flex="30">
						<h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
							<span class="md-headline white-text">M</span>
						</h2>
						<div class="md-list-item-text">
							<h3>Marco Paco</h3>
							<h3>add an asset tag.</h3>
							<p>yesterday.</p>
						</div>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>
</div>
