<md-content class="md-padding" layout="row" layout-align="center start" ng-if="activity.paginated.show">
	<div flex >
		<div layout="row" flex>
	        <md-card flex md-theme="dark-blue">
		        <md-card-title>
		          	<md-card-title-text>
			            <span class="md-headline white-text">Purchase Orders</span>
			            <span class="md-subhead white-text">July</span>
		          	</md-card-title-text>
		          	<md-card-title-media>
		            	<div class="md-media-sm" layout="row" layout-align="center center">
	            			<!-- <md-icon class="mdi mdi-format-list-numbers"></md-icon> -->
	            			<span class="md-display-1 white-text">{{dashboard.purchase_order_count}}</span>
		            	</div>
		          	</md-card-title-media>
		       	</md-card-title>
		    </md-card>
		    <md-card flex layout="column" md-theme="dark-orange">
		        <md-card-title>
		          	<md-card-title-text>
			            <span class="md-headline white-text">Asset Tags</span>
			            <span class="md-subhead white-text">New</span>
		          	</md-card-title-text>
		          	<md-card-title-media>
		            	<div class="md-media-sm" layout="row" layout-align="center center">
	            			<!-- <md-icon class="mdi mdi-format-list-numbers"></md-icon> -->
	            			<span class="md-display-1 white-text">{{dashboard.asset_tag_count}}</span>
		            	</div>
		          	</md-card-title-media>
		       	</md-card-title>
		    </md-card>
		    <md-card flex layout="column" md-theme="dark-teal">
		        <md-card-title>
		          	<md-card-title-text>
			            <span class="md-headline white-text">Activities</span>
			            <span class="md-subhead white-text">Recent</span>
		          	</md-card-title-text>
		          	<md-card-title-media>
		            	<div class="md-media-sm" layout="row" layout-align="center center">
	            			<!-- <md-icon class="mdi mdi-format-list-numbers"></md-icon> -->
	            			<span class="md-display-1 white-text">{{dashboard.activity_count}}</span>
		            	</div>
		          	</md-card-title-media>
		       	</md-card-title>
		    </md-card>
		</div>
		<div layout="row" flex>
			<md-card flex ng-repeat="chart in charts">
				<md-card-content layout-padding layout="column">
					<div layout="row" flex>
						<canvas class="chart chart-line" chart-data="chart.monthly.data" chart-labels="chart.monthly.labels" chart-series="chart.monthly.series" chart-click="chartWeekly"></canvas>
					</div>
					<!-- <h3 class="md-headline center-text">{{chart.title}}</h3> -->
				</md-card-content>	
			</md-card>
		</div>
		<!-- <div flex>
			<md-card ng-repeat="chart in charts" flex>
				<md-card-content layout-padding layout="column">
					<div layout="row" flex layout-align="center center">
						<canvas class="chart chart-line" chart-data="chart.weekly.data" chart-labels="chart.weekly.labels" chart-series="chart.weekly.series"></canvas>
					</div>
					<h3 class="md-headline center-text">{{chart.title}}</h3>
				</md-card-content>
			</md-card>
		</div> -->
		<md-subheader class="md-no-sticky">Asset Tags Expiring Warranty</md-subheader>
		<md-list>
			<md-list-item class="md-3-line" ng-repeat="item in dashboard.warranty">
				<!-- <h2 class="md-avatar primary-bg" layout="row" layout-align="center center">
					<span class="md-headline white-text">{{activity.first_letter}}</span>
				</h2> -->
				<div class="md-list-item-text">
					<h3>{{item.asset.brand}} {{item.asset.model}} <span class="secondary-text">({{item.property_code}})</span></h3>
					<h4>{{item.purchase_order.vendor.contact_person}} <span ng-if="item.purchase_order">/</span> {{item.purchase_order.vendor.email}} <span ng-if="item.purchase_order">/</span> {{item.purchase_order.vendor.contact_number}}</h4>
					<p>
		        		<span class="secondary-text md-caption" am-time-ago="item.warranty_end"></span>
						<md-tooltip>{{ item.warranty_end | date: 'EEEE, MMMM d, yyyy' }}</md-tooltip>
					</p>
				</div>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>
		<p ng-if="!dashboard.warranty.length">No items about to expire</p>
	</div>
</md-content>