<md-content layout="column" layout-padding layout-margin>
	<md-card flex>
		<md-card-content>
			<!-- CPU -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>CPU</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.cpus.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row" ng-repeat="cpu in asset.cpus">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ cpu.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ cpu.brand }}</h3>
						<h4>{{ cpu.model }} / {{ cpu.processor }}</h4>
						<p>Serial: {{ cpu.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ cpu.date_purchase }}</span>
						<span>{{ cpu.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.cpus.length" ng-click="showAddAssetDialog('Desktop')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.cpus.length" ng-click="showEditAssetDialog('Desktop')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>

	<md-card flex>
		<md-card-content>
			<!-- Hard Disk -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>Hard Disk</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.hardDisks.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row" ng-repeat="hardDisk in asset.hardDisks">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ hardDisk.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ hardDisk.brand }}</h3>
						<h4>{{ hardDisk.model }} / {{ hardDisk.capacity }}</h4>
						<p>Serial: {{ hardDisk.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ hardDisk.date_purchase }}</span>
						<span>{{ hardDisk.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.hardDisks.length" ng-click="showAddAssetDialog('Hard Disk')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.hardDisks.length" ng-click="showEditAssetDialog('Hard Disk')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-content>
			<!-- Headset -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>Headset</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.headsets.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row" ng-repeat="headset in asset.headsets">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ headset.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ headset.brand }}</h3>
						<h4>{{ headset.model }}</h4>
						<p>Serial: {{ headset.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ headset.date_purchase }}</span>
						<span>{{ headset.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.headsets.length" ng-click="showAddAssetDialog('Headset')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.headsets.length" ng-click="showEditAssetDialog('Headset')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-content>
			<!-- Keyboard -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>Keyboard</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.keyboards.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row" ng-repeat="keyboard in asset.keyboards">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ keyboard.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ keyboard.brand }}</h3>
						<h4>{{ keyboard.model }}</h4>
						<p>Serial: {{ keyboard.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ keyboard.date_purchase }}</span>
						<span>{{ keyboard.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.keyboards.length" ng-click="showAddAssetDialog('Keyboard')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.keyboards.length" ng-click="showEditAssetDialog('Keyboard')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-content>
			<!-- Memory -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>Memory</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.memories.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row"ng-repeat="memory in asset.memories">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ memory.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ memory.brand }}</h3>
						<h4>{{ memory.type }} / {{ memory.size }} / {{ memory.speed }}</h4>
						<p>Serial: {{ memory.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ memory.date_purchase }}</span>
						<span>{{ memory.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.memories.length" ng-click="showAddAssetDialog('Memory')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.memories.length" ng-click="showEditAssetDialog('Memory')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-content>
			<!-- Monitor -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>Monitor</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.monitors.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row"ng-repeat="monitor in asset.monitors">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ monitor.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ monitor.brand }}</h3>
						<h4>{{ monitor.model }}</h4>
						<p>Serial: {{ monitor.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ monitor.date_purchase }}</span>
						<span>{{ monitor.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.monitors.length" ng-click="showAddAssetDialog('Monitor')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.monitors.length" ng-click="showEditAssetDialog('Monitor')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>
	
	<md-card>
		<md-card-content>
			<!-- Mouse -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>Mouse</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.mice.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row"ng-repeat="mouse in asset.mice">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ mouse.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ mouse.brand }}</h3>
						<h4>{{ mouse.model }}</h4>
						<p>Serial: {{ mouse.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ mouse.date_purchase }}</span>
						<span>{{ mouse.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.mice.length" ng-click="showAddAssetDialog('Mouse')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.mice.length" ng-click="showEditAssetDialog('Mouse')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-content>
			<!-- Softwares -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>Softwares</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.softwares.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row"ng-repeat="software in asset.softwares">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ software.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ software.maker }}</h3>
						<h4>{{ software.name }} {{ software.version }}</h4>
						<p>Serial: {{ software.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ software.date_purchase }}</span>
						<span>{{ software.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.softwares.length" ng-click="showAddAssetDialog('Software')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.softwares.length" ng-click="showEditAssetDialog('Software')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>

	<md-card>
		<md-card-content>
			<!-- UPS -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>UPS</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.ups.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row"ng-repeat="item in asset.ups">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ item.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ item.brand }}</h3>
						<h4>{{ item.model }}</h4>
						<p>Serial: {{ item.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ item.date_purchase }}</span>
						<span>{{ item.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.ups.length" ng-click="showAddAssetDialog('Uninterruptible Power Supply')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.ups.length" ng-click="showEditAssetDialog('Uninterruptible Power Supply')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>
			
	<md-card>
		<md-card-content>
			<!-- Video Card -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>Video Card</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.videoCards.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row"ng-repeat="videoCard in asset.videoCards">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ videoCard.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ videoCard.brand }}</h3>
						<h4>{{ videoCard.model }}</h4>
						<p>Serial: {{ videoCard.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ videoCard.date_purchase }}</span>
						<span>{{ videoCard.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.videoCards.length" ng-click="showAddAssetDialog('Video Card')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.videoCards.length" ng-click="showEditAssetDialog('Video Card')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>
	
	<md-card>
		<md-card-content>
			<!-- Other Components -->
			<md-list>
				<md-subheader class="md-no-sticky md-primary" flex>Other Components</md-subheader>
				<p class="md-caption secondary-text" ng-if="!asset.otherComponents.length">No records yet.</p>
				<md-list-item class="md-3-line" layout="row"ng-repeat="otherComponent in asset.otherComponents">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ otherComponent.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ otherComponent.brand }}</h3>
						<h4>{{ otherComponent.model }}</h4>
						<p>Serial: {{ otherComponent.serial }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>{{ otherComponent.date_purchase }}</span>
						<span>{{ otherComponent.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-if="!asset.otherComponents.length" ng-click="showAddAssetDialog('Other Component')">Add</md-button>
				<md-button class="md-raised md-warn" ng-if="asset.otherComponents.length" ng-click="showEditAssetDialog('Other Component')">Edit</md-button>
			</div>
		</md-card-content>
	</md-card>
</md-content>
