<div layout="row" flex>
	<!-- Desktop -->
	<md-input-container flex ng-if="log">
		<label>Search</label>
		<input type="text" ng-model="log.userInput">
	</md-input-container>
	<!-- Desktop -->
	<md-input-container flex ng-if="desktop">
		<label>Search</label>
		<input type="text" ng-model="desktop.userInput">
	</md-input-container>

	<!-- Firewall -->
	<md-input-container flex ng-if="firewall">
		<label>Search</label>
		<input type="text" ng-model="firewall.userInput">
	</md-input-container>

	<!-- Hard Disk -->
	<md-input-container flex ng-if="hardDisk">
		<label>Search</label>
		<input type="text" ng-model="hardDisk.userInput">
	</md-input-container>

	<!-- Headset -->
	<md-input-container flex ng-if="headset">
		<label>Search</label>
		<input type="text" ng-model="headset.userInput">
	</md-input-container>

	<!-- Keyboard -->
	<md-input-container flex ng-if="keyboard">
		<label>Search</label>
		<input type="text" ng-model="keyboard.userInput">
	</md-input-container>

	<!-- Mac -->
	<md-input-container flex ng-if="mac">
		<label>Search</label>
		<input type="text" ng-model="mac.userInput">
	</md-input-container>

	<!-- Memory -->
	<md-input-container flex ng-if="memory">
		<label>Search</label>
		<input type="text" ng-model="memory.userInput">
	</md-input-container>

	<!-- Monitor -->
	<md-input-container flex ng-if="monitor">
		<label>Search</label>
		<input type="text" ng-model="monitor.userInput">
	</md-input-container>

	<!-- Mouse -->
	<md-input-container flex ng-if="mouse">
		<label>Search</label>
		<input type="text" ng-model="mouse.userInput">
	</md-input-container>

	<!-- Network Switch -->
	<md-input-container flex ng-if="networkSwitch">
		<label>Search</label>
		<input type="text" ng-model="networkSwitch.userInput">
	</md-input-container>

	<!-- Portable Hard Disk -->
	<md-input-container flex ng-if="portableHardDisk">
		<label>Search</label>
		<input type="text" ng-model="portableHardDisk.userInput">
	</md-input-container>

	<!-- Printer -->
	<md-input-container flex ng-if="printer">
		<label>Search</label>
		<input type="text" ng-model="printer.userInput">
	</md-input-container>

	<!-- Projector -->
	<md-input-container flex ng-if="projector">
		<label>Search</label>
		<input type="text" ng-model="projector.userInput">
	</md-input-container>

	<!-- Router -->
	<md-input-container flex ng-if="router">
		<label>Search</label>
		<input type="text" ng-model="router.userInput">
	</md-input-container>

	<!-- Scanner -->
	<md-input-container flex ng-if="scanner">
		<label>Search</label>
		<input type="text" ng-model="scanner.userInput">
	</md-input-container>

	<!-- Software -->
	<md-input-container flex ng-if="software">
		<label>Search</label>
		<input type="text" ng-model="software.userInput">
	</md-input-container>

	<!-- Speaker -->
	<md-input-container flex ng-if="speaker">
		<label>Search</label>
		<input type="text" ng-model="speaker.userInput">
	</md-input-container>

	<!-- Telephone -->
	<md-input-container flex ng-if="telephone">
		<label>Search</label>
		<input type="text" ng-model="telephone.userInput">
	</md-input-container>

	<!-- UPS -->
	<md-input-container flex ng-if="ups">
		<label>Search</label>
		<input type="text" ng-model="ups.userInput">
	</md-input-container>

	<!-- Video Card -->
	<md-input-container flex ng-if="videoCard">
		<label>Search</label>
		<input type="text" ng-model="videoCard.userInput">
	</md-input-container>

	<!-- Other Components -->
	<md-input-container flex ng-if="otherComponent">
		<label>Search</label>
		<input type="text" ng-model="otherComponent.userInput">
	</md-input-container>

	<!-- Employee -->
	<md-input-container flex ng-if="employee">
		<label>Search</label>
		<input type="text" ng-model="employee.userInput">
	</md-input-container>

	<!-- Work Station -->
	<md-input-container flex ng-if="workStation">
		<label>Search</label>
		<input type="text" ng-model="workStation.userInput">
	</md-input-container>
</div>