<!-- Desktop -->
<md-input-container flex ng-if="desktop">
	<label>Search</label>
	<input type="text" ng-model="desktop.userInput">
</md-input-container>

<!-- Hard Disk -->
<md-input-container flex ng-if="hardDisk">
	<label>Search</label>
	<input type="text" ng-model="hardDisk.userInput">
</md-input-container>

<!-- Headset -->
<md-input-container flex ng-if="headset">
	<label>Search</label>
	<input type="text" ng-model="headset.userInput">
</md-input-container>

<!-- Keyboard -->
<md-input-container flex ng-if="keyboard">
	<label>Search</label>
	<input type="text" ng-model="keyboard.userInput">
</md-input-container>

<!-- Memory -->
<md-input-container flex ng-if="memory">
	<label>Search</label>
	<input type="text" ng-model="memory.userInput">
</md-input-container>

<!-- Monitor -->
<md-input-container flex ng-if="monitor">
	<label>Search</label>
	<input type="text" ng-model="monitor.userInput">
</md-input-container>

<!-- Mouse -->
<md-input-container flex ng-if="mouse">
	<label>Search</label>
	<input type="text" ng-model="mouse.userInput">
</md-input-container>

<!-- Printer -->
<md-input-container flex ng-if="printer">
	<label>Search</label>
	<input type="text" ng-model="printer.userInput">
</md-input-container>

<!-- Scanner -->
<md-input-container flex ng-if="scanner">
	<label>Search</label>
	<input type="text" ng-model="scanner.userInput">
</md-input-container>

<!-- Software -->
<md-input-container flex ng-if="software">
	<label>Search</label>
	<input type="text" ng-model="software.userInput">
</md-input-container>

<!-- UPS -->
<md-input-container flex ng-if="ups">
	<label>Search</label>
	<input type="text" ng-model="ups.userInput">
</md-input-container>

<!-- Video Card -->
<md-input-container flex ng-if="videoCard">
	<label>Search</label>
	<input type="text" ng-model="videoCard.userInput">
</md-input-container>

<!-- Other Components -->
<md-input-container flex ng-if="others">
	<label>Search</label>
	<input type="text" ng-model="others.userInput">
</md-input-container>