<div layout="row" layout-align="space-between center">
	<!-- Refresh Button -->
	<md-button class="md-icon-button" ng-click="subheader.refresh()">
		<md-icon class="mdi mdi-refresh grey" aria-label="refresh"></md-icon>
		<md-tooltip>Refresh</md-tooltip>
	</md-button>

	<!-- Right Sidenav Button -->
	<md-button class="md-icon-button" hide-gt-sm ng-if="subheader.state == 'floor-plan'" ng-click="toggleSidenav('right')">
		<md-icon class="mdi mdi-menu grey" aria-label="right sidenav"></md-icon>
		<md-tooltip>Refresh</md-tooltip>
	</md-button>
</div>