<div layout="row" layout-align="start center" flex>
	<!-- Refresh Button -->
	<md-button class="md-icon-button" ng-if="subheader.state != 'units'" ng-click="subheader.refresh()">
		<md-icon class="mdi mdi-refresh grey" aria-label="refresh"></md-icon>
		<md-tooltip>Refresh</md-tooltip>
	</md-button>

	<!-- Right Sidenav Button -->
	<md-button class="md-icon-button" hide-gt-sm ng-if="subheader.state != 'assets'" ng-click="toggleSidenav('right')">
		<md-icon class="mdi mdi-menu grey" aria-label="right sidenav"></md-icon>
		<md-tooltip>Menu</md-tooltip>
	</md-button>

	<div layout="row" ng-if="subheader.state == 'units'">
		<!-- Active Units Button -->
		<md-button class="md-icon-button" ng-click="subheader.activeUnit()">
			<md-icon class="mdi mdi-check grey" aria-label="active"></md-icon>
			<md-tooltip>Active</md-tooltip>
		</md-button>

		<!-- Repair Units Button -->
		<md-button class="md-icon-button" ng-click="subheader.repairUnit()">
			<md-icon class="mdi mdi-settings grey" aria-label="repair"></md-icon>
			<md-tooltip>Under repair</md-tooltip>
		</md-button>

		<!-- Dispose Units Button -->
		<md-button class="md-icon-button" ng-click="subheader.disposeUnit()">
			<md-icon class="mdi mdi-delete grey" aria-label="dispose"></md-icon>
			<md-tooltip>Disposed</md-tooltip>
		</md-button>
	</div>
</div>