<div layout="row" layout-align="start center" flex>
	<md-button class="md-icon-button"  ng-click="back()">
		<md-icon class="mdi mdi-arrow-left grey" aria-label="Back"></md-icon>
	</md-button>
	<span class="md-headline main-text">Title</span>
</div>
<div flex layout="row" layout-align="end center">
	<md-button class="md-icon-button">
		<md-icon class="mdi mdi-magnify grey" aria-label="Search"></md-icon>
	</md-button>
	<md-button class="md-icon-button">
		<md-icon class="mdi mdi-bell grey" aria-label="Notifications"></md-icon>
	</md-button>
</div>