<md-content layout="column" layout-padding>
	<md-toolbar class="white-toolbar">
		<div class="md-toolbar-tools">
			<h3 class="primary-text">Overview</h3>
		</div>
	</md-toolbar>
	<div layout="column" layout-wrap flex>	
		<md-card md-theme="dark-teal" flex>
	        <md-card-title>
		        <md-card-title-text>
		            <span class="md-headline white-text">331</span>
		            <span class="md-subhead">Deployed</span>
		        </md-card-title-text>
		        <md-card-title-media>
		            <div class="md-media-sm card-media"></div>
		        </md-card-title-media>
	        </md-card-title>
	    </md-card>
	    <md-card md-theme="dark-blue" flex>
	        <md-card-title>
		        <md-card-title-text>
		            <span class="md-headline white-text">12</span>
		            <span class="md-subhead">Stocks</span>
		        </md-card-title-text>
		        <md-card-title-media>
		            <div class="md-media-sm card-media"></div>
		        </md-card-title-media>
	        </md-card-title>
	    </md-card>
	    <md-card md-theme="dark-orange" flex>
	        <md-card-title>
		        <md-card-title-text>
		            <span class="md-headline white-text">0</span>
		            <span class="md-subhead">Pulled Out</span>
		        </md-card-title-text>
		        <md-card-title-media>
		            <div class="md-media-sm card-media"></div>
		        </md-card-title-media>
	        </md-card-title>
	    </md-card>
	    <md-card md-theme="dark-purple" flex>
	        <md-card-title>
		        <md-card-title-text>
		            <span class="md-headline white-text">PCPU00485</span>
		            <span class="md-subhead">Latest</span>
		        </md-card-title-text>
		        <md-card-title-media>
		            <div class="md-media-sm card-media"></div>
		        </md-card-title-media>
	        </md-card-title>
	    </md-card>
	</div>
</md-content>