<md-content layout="column" layout-align="space-between center" flex md-theme="dark">
	<div class="full-width-min">
		<ul class="departments right-sidenav-list">
			<li flex layout="row" layout-align="start center" class="blue-bg">
				<md-button flex ui-sref="main.floor-plan({'departmentID': null})">
					<div layout="row" flex>
						<h2 class="md-title white-text">Deparments</h2>
						<span flex></span>
					</div>
				</md-button>
			</li>
			<li class="fade-transition" layout="row" ui-sref-active="active" ng-repeat="department in rightSidenav.departments">
				<md-button flex ui-sref="main.floor-plan({'departmentID': department.id})">
					<div layout="row" flex>
						<span flex="5"></span>
						<span class="white-text">{{ department.name }}</span>
						<span flex></span>
					</div>
				</md-button>
			</li>
		</ul>
	</div>
</md-content>