<md-divider></md-divider>
<div layout="column" layout-align="center center">
	<h2 class="md-headline">{{ user.first_name }}</h2>
	<h3 class="md-subhead">{{ user.email }}</h3>
</div>
<md-divider></md-divider>
<ul>
	<li layout="row" flex ng-repeat="page in menu.static" ng-class="'active'">
		<md-button flex ui-sref="{{page.state}}">
			<div layout="row" flex>
				<md-icon class="mdi {{page.icon}} grey"></md-icon>
				<span flex="5"></span>
				<span flex class="left-text secondary-text">{{page.label}}</span>
			</div>
		</md-button>
	</li>
	<md-divider></md-divider>
	<li ng-repeat="section in menu.section" class="section" flex>
		<div layout="row" class="section-button-container">
			<md-button flex ng-click="setActive($index)" aria-label="section-{{ $index }}">
				<div layout="row" flex>
					<md-icon class="mdi {{section.icon}} grey"></md-icon>
					<span flex="5"></span>
					<span class="secondary-text">{{ section.name }}</span>
					<span flex></span>
					<md-icon class="mdi mdi-chevron-down rotate-icon grey"></md-icon>
				</div>
			</md-button>
		</div>
		<!-- Child -->
		<ul class="pages">
			<!-- Assets -->
			<li layout="row" ng-if="section.name == 'Assets'" ng-repeat="page in menu.pages[$index]">
				<md-button ui-sref-active="active" flex ui-sref="main.asset({'assetTypeID': {{ page.id }} })">
					<div layout="row" flex>
						<span flex="5"></span>
						<span class="secondary-text">{{ page.type }}</span>
						<span flex></span>
					</div>
				</md-button>
			</li>
		</ul>
	</li>
	<md-divider></md-divider>
	<md-subheader class="md-no-sticky">Account Settings</md-subheader>
	<li layout="row" flex>
		<md-button flex ng-click="changePassword()">
			<div layout="row" flex>
				<md-icon class="mdi mdi-key-change grey"></md-icon>
				<span flex="5"></span>
				<span class="secondary-text">Change Password</span>
				<span flex></span>
			</div>
		</md-button>
	</li>
	<li layout="row" flex>
		<md-button flex href="/auth/logout">
			<div layout="row" flex>
				<md-icon class="mdi mdi-logout grey"></md-icon>
				<span flex="5"></span>
				<span class="secondary-text">Logout</span>
				<span flex></span>
			</div>
		</md-button>
	</li>
</ul>