<div layout="column" flex>
	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
	      	<h3>
	        	<h2 class="md-title white-text">Other Work Stations</h2>
	      	</h3>
	    </div>
	</md-toolbar>
	<md-content>
		<div class="fade-transition" layout="row" ng-if="rightSidenav.paginated.show" flex infinite-scroll='rightSidenav.paginateLoad()' infinite-scroll-distance="2" infinite-scroll-disabled="rightSidenav.busy" infinite-scroll-parent>
			<div layout="column" flex>
				<md-button flex ng-repeat="item in rightSidenav.paginated.data" ng-click="rightSidenav.show(item.id)">
					<div layout="row" flex>
						<span flex="5"></span>
						<span class="secondary-text">{{ item.name }}</span>
						<span flex></span>
					</div>
				</md-button>
				<p class="secondary-text" ng-if="!rightSidenav.paginated.data.length">No records yet.</p>
			</div>
		</div>
	</md-content>
</div>