<!-- Search Results -->
<div class="fade-transition" layout="column" flex flex-gt-sm="70" ng-if="portableHardDisk.results && !portableHardDisk.paginated.show">
	<div layout-margin layout-padding>
		<md-card>
			<md-list>
				<md-list-item class="md-2-line" ng-click="show(portableHardDisk.id)" layout="row" ng-repeat="portableHardDisk in portableHardDisk.results | filter:portableHardDisk.userInput">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ portableHardDisk.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column" flex>
						<h3>{{ portableHardDisk.brand }}</h3>
						<h4>{{ portableHardDisk.model }}</h4>
					</div>
					<p flex class="text-right secondary-text md-caption">{{ portableHardDisk.created_at }}</p>
				</md-list-item>
			</md-list>
			<md-card-content ng-if="!portableHardDisk.results.length">
				<p class="secondary-text">No results found.</p>
			</md-card-content>
		</md-card>
	</div>
</div>

<!-- Paginated Data -->
<div class="fade-transition" ng-if="portableHardDisk.paginated.show" flex infinite-scroll='portableHardDisk.paginateLoad()' infinite-scroll-distance="2" infinite-scroll-disabled="portableHardDisk.busy" infinite-scroll-parent>
	<div layout="column" flex flex-gt-sm="70">
		<div layout-margin layout-padding>
			<md-card >
				<md-list>
					<md-list-item class="md-2-line" ng-click="show(portableHardDisk.id)" layout="row" ng-repeat="portableHardDisk in portableHardDisk.paginated.data | filter:portableHardDisk.userInput">
						<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
							<span class="weight-200 white-text">{{ portableHardDisk.first_letter }}</span>
						</h2>
						<div class="md-list-item-text" layout="column" flex>
							<h3>{{ portableHardDisk.brand }}</h3>
							<h4>{{ portableHardDisk.model }}</h4>
						</div>
						<p flex class="text-right secondary-text md-caption">{{ portableHardDisk.created_at }}</p>
					</md-list-item>
				</md-list>
				<md-card-content ng-if="!portableHardDisk.paginated.data.length">
					<p class="secondary-text">No records yet.</p>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>