<md-dialog layout="column" flex flex-gt-sm="50" flex-gt-lg="40" aria-label="Add Work Station" ng-cloak>
	<form name="addWorkStationForm" novalidate>
		<md-toolbar class="white-toolbar">
			<div class="md-toolbar-tools">
				<h2 class="primary-text">Work Station</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close grey" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content flex layout-padding>
			<div layout="column" flex>
				<div layout="row" flex>
					<md-input-container flex>
						<label>Floor</label>
						<md-select name="Floor" required ng-model="workStation.floor">
							<md-option ng-repeat="floor in floors" value="{{ floor.value }}">
								<span>{{ floor.pattern }}</span>
							</md-option>
						</md-select>
						<div ng-messages="addWorkStationForm.Floor.$error" ng-if="addWorkStationForm.Floor.$touched">
							<div ng-message="required">Floor is required.</div>
						</div>
					</md-input-container>

					<md-input-container flex>
						<label>Division</label>
						<md-select name="Division" required ng-model="workStation.division">
							<md-option ng-repeat="division in divisions" value="{{ division }}">
								<span>
									{{ division }}
								</span>
							</md-option>
						</md-select>
						<div ng-messages="addWorkStationForm.Division.$error" ng-if="addWorkStationForm.Division.$touched">
							<div ng-message="required">Division is required.</div>
						</div>
					</md-input-container>

					<md-input-container flex>
						<label>Type</label>
						<md-select name="Type" required ng-model="workStation.type">
							<md-option ng-repeat="type in types" value="{{ type.value }}">
								<span>
									{{ type.pattern }}
								</span>
							</md-option>
						</md-select>
						<div ng-messages="addWorkStationForm.Type.$error" ng-if="addWorkStationForm.Type.$touched">
							<div ng-message="required">Type is required.</div>
						</div>
					</md-input-container>					
				</div>

				<!-- Quantity -->
				<md-input-container flex>
					<label>Quantity</label>
					<input type="number" name="Quantity" required ng-model="workStation.quantity" min="1" max="999">
					<div ng-messages="addWorkStationForm.Quantity.$error" ng-if="addWorkStationForm.Quantity.$touched">
						<div ng-message="required">Quantity is required.</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-primary" aria-label="Submit" ng-click="submit()">
			Submit
		</md-button>
	</div>
</md-dialog>