<md-dialog layout="column" flex="50"  aria-label="Add {{ department.name }} Employee" ng-cloak>
	<form name="addEmployeeForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add {{ department.name }} Employee</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content flex layout-padding>
			<div layout="column" flex>
				<!-- Employee ID -->
				<md-input-container flex>
					<label>Employee ID</label>
					<input name="EmployeeID" type="text" required ng-model="employee.employee_id">
					<div ng-messages="addEmployeeForm.EmployeeID.$error" ng-if="addEmployeeForm.EmployeeID.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
				<!-- Full Name -->
				<md-input-container flex>
					<label>Full Name</label>
					<input name="FullName" type="text" required ng-model="employee.full_name">
					<div ng-messages="addEmployeeForm.FullName.$error" ng-if="addEmployeeForm.FullName.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-fab md-primary" ng-disabled="addEmployeeForm.$invalid" aria-label="Submit" ng-click="submit()">
			<md-icon class="mdi mdi-check"></md-icon>
		</md-button>
	</div>
</md-dialog>