<md-dialog layout="column" flex="50"  aria-label="Add Memory" ng-cloak>
	<form name="addMemoryForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add Memory</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content flex layout-padding>
			<div layout="column" flex>
				<div layout="row" flex>
					<!-- Brand -->
					<md-input-container flex>
						<label>Brand</label>
						<input name="Brand" type="text" required ng-model="memory.brand">
						<div ng-messages="addMemoryForm.Brand.$error" ng-if="addMemoryForm.Brand.$touched">
							<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
						</div>
					</md-input-container>
					<!-- Model -->
					<md-input-container flex>
						<label>Model</label>
						<input name="Model" type="text" required ng-model="memory.model">
						<div ng-messages="addMemoryForm.Model.$error" ng-if="addMemoryForm.Model.$touched">
							<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
						</div>
					</md-input-container>
				</div>
				<div layout="row">
					<!-- Size -->
					<md-input-container>
						<label>Size</label>
						<md-select name="Size" required ng-model="memory.size">
							<md-option ng-repeat="size in memory.sizes" value="{{ size.size }}">
								{{ size.size }}
							</md-option>
						</md-select>
						<div ng-messages="addMemoryForm.Size.$error" ng-if="addMemoryForm.Size.$touched">
							<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
						</div>
					</md-input-container>
					<!-- Speed -->
					<md-input-container>
						<label>Speed</label>
						<md-select name="Speed" required ng-model="memory.speed">
							<md-option ng-repeat="size in memory.speeds" value="{{ size.size }}">
								{{ size.size }}
							</md-option>
						</md-select>
						<div ng-messages="addMemoryForm.Speed.$error" ng-if="addMemoryForm.Speed.$touched">
							<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
						</div>
					</md-input-container>
				</div>
			</div>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-fab md-primary" ng-disabled="addMemoryForm.$invalid" aria-label="Submit" ng-click="submit()">
			<md-icon class="mdi mdi-check"></md-icon>
		</md-button>
	</div>
</md-dialog>