<md-dialog layout="column" flex="50"  aria-label="Add UPS" ng-cloak>
	<form name="addUPSForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add UPS</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content flex layout-padding>
			<div layout="column" flex>
				<div layout="row" flex>
					<!-- Brand -->
					<md-input-container flex>
						<label>Brand</label>
						<input name="Brand" type="text" required ng-model="ups.brand">
						<div ng-messages="addUPSForm.Brand.$error" ng-if="addUPSForm.Brand.$touched">
							<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
						</div>
					</md-input-container>
					<!-- Model -->
					<md-input-container flex>
						<label>Model</label>
						<input name="Model" type="text" required ng-model="ups.model">
						<div ng-messages="addUPSForm.Model.$error" ng-if="addUPSForm.Model.$touched">
							<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
						</div>
					</md-input-container>
				</div>
				<!-- Wattage -->
				<md-input-container flex>
					<label>Wattage</label>
					<md-select name="Wattage" required ng-model="ups.wattage">
						<md-option ng-repeat="wattage in ups.wattages" value="{{ wattage.wattage }}">
							{{ wattage.wattage }}
						</md-option>
					</md-select>
					<div ng-messages="addUPSForm.Wattage.$error" ng-if="addUPSForm.Wattage.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-fab md-primary" ng-disabled="addUPSForm.$invalid" aria-label="Submit" ng-click="submit()">
			<md-icon class="mdi mdi-check"></md-icon>
		</md-button>
	</div>
</md-dialog>