<md-dialog layout="column" flex="50"  aria-label="Edit {{ workStation.name }} Asset" ng-cloak>
	<form name="editWorkStationForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Transfer {{ workStation }}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content layout="row" flex layout-padding layout-wrap>
			<!-- Department -->
			<md-input-container flex>
				<label>Department</label>
				<md-select required name="Department" ng-model="workStationTag.department_id">
					<md-option ng-repeat="department in workStationTag.departments" value="{{ department.id }}">
						{{ department.name }}
					</md-option>
				</md-select>
				<div ng-messages="editWorkStationForm['Department' + $index].$error" ng-if="editWorkStationForm['Department' + $index].$touched">
					<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
				</div>
			</md-input-container>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-fab md-primary" ng-disabled="editWorkStationForm.$invalid" aria-label="Submit" ng-click="submit()">
			<md-icon class="mdi mdi-check"></md-icon>
		</md-button>
	</div>
</md-dialog>