<md-dialog layout="column" flex flex-gt-sm="50" flex-gt-lg="40"  aria-label="Program" ng-cloak>
	<form name="assetTagForm" novalidate>
		<md-toolbar class="white-toolbar">
			<div class="md-toolbar-tools">
				<h2 class="primary-text">{{ label }}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close mdi-24px grey" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content layout="column" flex layout-padding layout-wrap>
			<div layout="column">
				<md-subheader class="md-no-sticky">Swap</md-subheader>
				<div layout="row">				
					<!-- Floor -->
					<md-input-container flex>
						<label>Floor</label>
						<md-select name="Floor" ng-model="floor" required ng-change="swap.work_station_id=null">
							<md-option ng-repeat="floor in floors" value="{{ floor }}">
								<span>{{ floor }}</span>
							</md-option>
						</md-select>
						<div ng-messages="assetTagForm.Floor.$error" ng-if="assetTagForm.Floor.$touched">
							<div ng-message="required">Floor is required</div>
						</div>
					</md-input-container>
					<!-- Division -->
					<md-input-container flex>
						<label>Division</label>
						<md-select name="Division" ng-model="division" ng-disabled="!floor" ng-change="swap.work_station_id=null">
							<md-option ng-repeat="division in divisions" value="{{ division }}">
								<span>{{ division }}</span>
							</md-option>
						</md-select>
						<div ng-messages="assetTagForm.Division.$error" ng-if="assetTagForm.Division.$touched">
							<div ng-message="required">Division is required</div>
						</div>
					</md-input-container>
					<!-- Type -->
					<md-input-container flex>
						<label>Type</label>
						<md-select name="Type" ng-model="type" ng-disabled="!division" ng-change="swap.work_station_id=null">
							<md-option ng-repeat="type in types" value="{{ type }}">
								<span>{{ type }}</span>
							</md-option>
						</md-select>
						<div ng-messages="assetTagForm.Type.$error" ng-if="assetTagForm.Type.$touched">
							<div ng-message="required">Type is required</div>
						</div>
					</md-input-container>
				</div>
				<!-- Work Station -->
				<md-input-container>
					<label>Work Station</label>
					<md-select name="WorkStation" required ng-model="swap.work_station_id" ng-change="checkSwap()" ng-disabled="!type">
						<md-option ng-repeat="workStation in workStations | filter:{floor: floor} | filter:{division:division} | filter:{type:type}" value="{{ workStation.id }}" ng-if="workStation.departments.length">
							<span>{{ workStation.name }}</span>
						</md-option>
					</md-select>
					<div ng-messages="assetTagForm.WorkStation.$error" ng-if="assetTagForm.WorkStation.$touched">
						<div ng-message="required">Work station is required.</div>						
					</div>
					<div class="pattern" ng-if="!match && assetTagForm.WorkStation.$touched && assetTagForm.WorkStation.$valid">No same type of asset found.</div>
				</md-input-container>
				<!-- Asset Tag -->
				<md-input-container ng-if="swapItems.length > 1">
					<label>Asset tag to swap with</label>
					<md-select name="AssetTag" required ng-model="swap.asset_tag" ng-disabled="!swap.work_station_id" ng-change="test()">
						<md-option ng-repeat="item in swapItems" ng-value="item">
							<span>{{ item.property_code }}</span>
						</md-option>
					</md-select>
					<div ng-messages="assetTagForm.AssetTag.$error" ng-if="assetTagForm.AssetTag.$touched">
						<div ng-message="required">Asset tag is required.</div>						
					</div>
				</md-input-container>
				<div layout="row" flex>
					<div layout="column" flex>
						<md-subheader class="md-no-stick md-primary">{{assetTag.work_station.name}}</md-subheader>
						<md-list flex layout="column">
							<md-list-item class="md-2-line" layout="row">
								<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
									<span class="white-text">{{assetTag.first_letter}}</span>
								</h2>
								<div class="md-list-item-text" layout="column" flex>
									<h3>{{assetTag.asset.brand}}</h3>
									<h4>{{assetTag.asset.model}}</h4>
								</div>
							</md-list-item>
							<md-subheader class="md-no-sticky" ng-if="details.length">Specs</md-subheader>
							<md-list-item ng-repeat="detail in details">
							    <p>{{detail.label}}: {{detail.value}}</p>
						  	</md-list-item>
						</md-list>
					</div>
					<div layout="column" flex>					
						<md-list flex layout="column" ng-if="swap.asset_tag">
							<md-subheader class="md-no-stick md-primary">{{swap.asset_tag.work_station.name}}</md-subheader>
							<md-list-item class="md-2-line" layout="row">
								<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
									<span class="white-text">{{swap.asset_tag.first_letter}}</span>
								</h2>
								<div class="md-list-item-text" layout="column" flex>
									<h3>{{swap.asset_tag.asset.brand}}</h3>
									<h4>{{swap.asset_tag.asset.model}}</h4>
								</div>
							</md-list-item>
							<md-subheader class="md-no-sticky" ng-if="swap.asset_tag.details.length">Specs</md-subheader>
							<md-list-item ng-repeat="detail in swap.asset_tag.asset.details">
							    <p>{{detail.label}}: {{detail.value}}</p>
						  	</md-list-item>
						</md-list>
					</div>
				</div>
			</div>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-button" aria-label="Submit" ng-click="submit()">
			Swap
		</md-button>
	</div>
</md-dialog>