<md-dialog layout="column" flex="50"  aria-label="Add {{ workStation.name }} Asset" ng-cloak>
	<form name="transferAssetForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Transfer {{ workStation }}'s Asset</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content layout="column" flex layout-padding>
			<md-list>
				<md-list-item class="md-2-line" layout="row">
					<h2 class="md-avatar md-headline blue-bg" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ asset.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column">
						<h3>{{ asset.brand }} {{ asset.maker }}</h3>
						<h4>{{ asset.model }} <span ng-if="asset.processor">/</span> {{ asset.processor }} {{ asset.type }} <span ng-if="asset.size">/</span> {{ asset.size }} <span ng-if="asset.speed">/</span> {{ asset.speed }} {{ asset.name }} {{ asset.version }}</h4>
					</div>
				</md-list-item>
			</md-list>
			<div layout="row" flex>
				<!-- Department -->
				<md-input-container flex>
					<label>Department</label>
					<md-select name="Department" required ng-model="asset.department" ng-change="showFloors()">
						<md-option ng-repeat="department in departments" value="{{ department.id }}">
							{{ department.name }}
						</md-option>
					</md-select>
					<div ng-messages="transferAssetForm.Department.$error" ng-if="transferAssetForm.Department.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
				<!-- Floor -->
				<md-input-container flex>
					<label>Floor</label>
					<md-select name="Floor" required ng-model="asset.floor" ng-change="showDivisions()">
						<md-option ng-repeat="floor in floors" value="{{ floor.floor }}">
							{{ floor.floor }}
						</md-option>
					</md-select>
					<div ng-messages="transferAssetForm.Floor.$error" ng-if="transferAssetForm.Floor.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
				<!-- Division -->
				<md-input-container flex>
					<label>Division</label>
					<md-select name="Division" required ng-model="asset.division" ng-change="showWorkStations()">
						<md-option ng-repeat="division in divisions" value="{{ division.division }}">
							{{ division.division }}
						</md-option>
					</md-select>
					<div ng-messages="transferAssetForm.Division.$error" ng-if="transferAssetForm.Division.$touched">
						<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
					</div>
				</md-input-container>
			</div>
			<!-- Work Station -->
			<md-input-container flex>
				<label>Work Station</label>
				<md-select name="WorkStation" required ng-model="asset.work_station_id">
					<md-option ng-repeat="workstation in workstations | orderBy:'name'" value="{{ workstation.id }}">
						{{ workstation.name }}
					</md-option>
				</md-select>
				<div ng-messages="transferAssetForm.WorkStation.$error" ng-if="transferAssetForm.WorkStation.$touched">
					<div ng-messages-include="/app/shared/templates/validation-message.html"></div>
				</div>
			</md-input-container>
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button class="md-fab md-primary" ng-disabled="transferAssetForm.$invalid" aria-label="Submit" ng-click="submit()">
			<md-icon class="mdi mdi-check"></md-icon>
		</md-button>
	</div>
</md-dialog>