<!-- Search Results -->
<div class="fade-transition" layout="column" flex ng-if="keyboard.results && !keyboard.paginated.show">
	<div layout-margin layout-padding>
		<md-card>
			<md-list layout-padding>
				<md-list-item class="md-3-line" layout="row" ng-repeat="keyboard in keyboard.results | filter:keyboard.userInput | orderBy:'property_code'">
					<h2 class="md-avatar md-headline" ng-class="keyboard.status == 'active' ? 'blue-bg' : (keyboard.status == 'repair' ? 'orange-bg' : 'red-bg')" layout="row" layout-align="center center" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ keyboard.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column" flex ng-click="show(keyboard.department_id, keyboard.work_station_id)">
						<h3>Property: {{ keyboard.property_code }}</h3>
						<h4>Serial: {{ keyboard.serial }} <span ng-if="!keyboard.serial">N/A</span></h4>
						<p>Work Station: {{ keyboard.work_station_name }}</p>
					</div>
					<div layout="row" layout-align="end center" ng-if="keyboard.status=='repair'">
						<md-button class="md-icon-button" ng-click="repaired(keyboard.asset_tag_id)">
							<md-icon class="mdi mdi-check grey"></md-icon>
							<md-tooltip>Repaired</md-tooltip>
						</md-button>
						<md-button class="md-icon-button" ng-click="dispose(keyboard.asset_tag_id)">
							<md-icon class="mdi mdi-delete grey"></md-icon>
							<md-tooltip>Dispose</md-tooltip>
						</md-button>
					</div>
				</md-list-item>
			</md-list>
			<md-card-content ng-if="!keyboard.results.length">
				<p class="secondary-text">No results found.</p>
			</md-card-content>
		</md-card>
	</div>
</div>

<!-- Paginated Data -->
<div class="fade-transition" ng-if="keyboard.paginated.show" flex infinite-scroll='keyboard.paginateLoad()' infinite-scroll-distance="2" infinite-scroll-disabled="keyboard.busy" infinite-scroll-parent>
	<div layout="column" flex>
		<div layout-margin layout-padding>
			<md-subheader class="md-no-sticky md-primary">
				{{ listType }}
			</md-subheader>
			<md-card>
				<md-list layout-padding>
					<md-list-item class="md-3-line" layout="row" ng-repeat="keyboard in keyboard.paginated.data | filter:keyboard.userInput | orderBy:'property_code'">
						<h2 class="md-avatar md-headline" ng-class="keyboard.status == 'active' ? 'blue-bg' : (keyboard.status == 'repair' ? 'orange-bg' : 'red-bg')" layout="row" layout-align="center center">
							<span class="weight-200 white-text">{{ keyboard.first_letter }}</span>
						</h2>
						<div class="md-list-item-text" layout="column" flex ng-click="show(keyboard.department_id, keyboard.work_station_id)">
							<h3>Property: {{ keyboard.property_code }}</h3>
							<h4>Serial: {{ keyboard.serial }} <span ng-if="!keyboard.serial">N/A</span></h4>
							<p>Work Station: {{ keyboard.work_station_name }}</p>
						</div>
						<div layout="row" layout-align="end center" ng-if="listType=='Under Repair'">
							<md-button class="md-icon-button" ng-click="repaired(keyboard.asset_tag_id)">
								<md-icon class="mdi mdi-check grey"></md-icon>
								<md-tooltip>Repaired</md-tooltip>
							</md-button>
							<md-button class="md-icon-button" ng-click="dispose(keyboard.asset_tag_id)">
								<md-icon class="mdi mdi-delete grey"></md-icon>
								<md-tooltip>Dispose</md-tooltip>
							</md-button>
						</div>
					</md-list-item>
				</md-list>
				<md-card-content ng-if="!keyboard.paginated.data.length">
					<p class="secondary-text">No records yet.</p>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>