<!-- Search Results -->
<div class="fade-transition" layout="column" flex ng-if="memory.results && !memory.paginated.show">
	<div layout-margin layout-padding>
		<md-card>
			<md-list layout-padding>
				<md-list-item class="md-3-line" layout="row" ng-repeat="memory in memory.results | filter:memory.userInput" ng-click="show(memory.department_id, memory.work_station_id)">
					<h2 class="md-avatar md-headline" ng-class="memory.status == 'active' ? 'blue-bg' : (memory.status == 'repair' ? 'orange-bg' : 'red-bg')" layout="row" layout-align="center center" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ memory.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column" flex>
						<h3>Serial: {{ memory.serial }}</h3>
						<h4>Property: {{ memory.property_code }}</h4>
						<p>Work Station: {{ memory.work_station_name }}</p>
					</div>
					<div layout="row" layout-align="end center" ng-if="memory.status=='repair'">
						<md-button class="md-icon-button" ng-click="repaired(memory.asset_tag_id)">
							<md-icon class="mdi mdi-check grey"></md-icon>
							<md-tooltip>Repaired</md-tooltip>
						</md-button>
						<md-button class="md-icon-button" ng-click="dispose(memory.asset_tag_id)">
							<md-icon class="mdi mdi-delete grey"></md-icon>
							<md-tooltip>Dispose</md-tooltip>
						</md-button>
					</div>
				</md-list-item>
			</md-list>
			<md-card-content ng-if="!memory.results.length">
				<p class="secondary-text">No results found.</p>
			</md-card-content>
		</md-card>
	</div>
</div>

<!-- Paginated Data -->
<div class="fade-transition" ng-if="memory.paginated.show" flex infinite-scroll='memory.paginateLoad()' infinite-scroll-distance="2" infinite-scroll-disabled="memory.busy" infinite-scroll-parent>
	<div layout="column" flex>
		<div layout-margin layout-padding>
			<md-subheader class="md-no-sticky md-primary">
				{{ listType }}
			</md-subheader>
			<md-card>
				<md-list layout-padding>
					<md-list-item class="md-3-line" layout="row" ng-repeat="memory in memory.paginated.data | filter:memory.userInput" ng-click="show(memory.department_id, memory.work_station_id)">
						<h2 class="md-avatar md-headline" ng-class="memory.status == 'active' ? 'blue-bg' : (memory.status == 'repair' ? 'orange-bg' : 'red-bg')" layout="row" layout-align="center center">
							<span class="weight-200 white-text">{{ memory.first_letter }}</span>
						</h2>
						<div class="md-list-item-text" layout="column" flex>
							<h3>Serial: {{ memory.serial }} <span ng-if="!memory.serial">N/A</span></h3>
							<h4>Property: {{ memory.property_code }}</h4>
							<p>Work Station: {{ memory.work_station_name }}</p>
						</div>
						<div layout="row" layout-align="end center" ng-if="listType=='Under Repair'">
							<md-button class="md-icon-button" ng-click="repaired(memory.asset_tag_id)">
								<md-icon class="mdi mdi-check grey"></md-icon>
								<md-tooltip>Repaired</md-tooltip>
							</md-button>
							<md-button class="md-icon-button" ng-click="dispose(memory.asset_tag_id)">
								<md-icon class="mdi mdi-delete grey"></md-icon>
								<md-tooltip>Dispose</md-tooltip>
							</md-button>
						</div>
					</md-list-item>
				</md-list>
				<md-card-content ng-if="!memory.paginated.data.length">
					<p class="secondary-text">No records yet.</p>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>