<!-- Search Results -->
<div class="fade-transition" layout="column" flex ng-if="scanner.results && !scanner.paginated.show">
	<div layout-margin layout-padding>
		<md-card>
			<md-list>
				<md-list-item class="md-3-line" layout="row" ng-repeat="scanner in scanner.results | filter:scanner.userInput">
					<h2 class="md-avatar md-headline" ng-class="scanner.status == 'active' ? 'blue-bg' : (scanner.status == 'repair' ? 'orange-bg' : 'red-bg')" layout="row" layout-align="center center" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ scanner.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column" flex>
						<h3>Serial: {{ scanner.serial }}</h3>
						<h4>Property: {{ scanner.property_code }}</h4>
						<p>Work Station: {{ scanner.work_station_name }}</p>
					</div>
					<p flex class="text-right secondary-text md-caption" layout="column">
						<span>Date Purchase: {{ scanner.date_purchase }}</span>
						<span>{{ scanner.supplier }}</span>
					</p>
				</md-list-item>
			</md-list>
			<md-card-content ng-if="!scanner.results.length">
				<p class="secondary-text">No results found.</p>
			</md-card-content>
		</md-card>
	</div>
</div>

<!-- Paginated Data -->
<div class="fade-transition" ng-if="scanner.paginated.show" flex infinite-scroll='scanner.paginateLoad()' infinite-scroll-distance="2" infinite-scroll-disabled="scanner.busy" infinite-scroll-parent>
	<div layout="column" flex>
		<div layout-margin layout-padding>
			<md-subheader class="md-no-sticky md-primary">
				{{ listType }}
			</md-subheader>
			<md-card>
				<md-list>
					<md-list-item class="md-3-line" layout="row" ng-repeat="scanner in scanner.paginated.data | filter:scanner.userInput">
						<h2 class="md-avatar md-headline" ng-class="scanner.status == 'active' ? 'blue-bg' : (scanner.status == 'repair' ? 'orange-bg' : 'red-bg')" layout="row" layout-align="center center">
							<span class="weight-200 white-text">{{ scanner.first_letter }}</span>
						</h2>
						<div class="md-list-item-text" layout="column" flex>
							<h3>Serial: {{ scanner.serial }} <span ng-if="!scanner.serial">N/A</span></h3>
							<h4>Property: {{ scanner.property_code }}</h4>
							<p>Work Station: {{ scanner.work_station_name }}</p>
						</div>
						<p flex class="text-right secondary-text md-caption" layout="column">
							<span ng-if="scanner.date_purchase">Date Purchase: {{ scanner.date_purchase }}</span>
							<span>{{ scanner.supplier }}</span>
						</p>
					</md-list-item>
				</md-list>
				<md-card-content ng-if="!scanner.paginated.data.length">
					<p class="secondary-text">No records yet.</p>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>