<!-- Search Results -->
<div class="fade-transition" layout="column" flex ng-if="telephone.results && !telephone.paginated.show">
	<div layout-margin layout-padding>
		<md-card>
			<md-list layout-padding>
				<md-list-item class="md-3-line" layout="row" ng-repeat="telephone in telephone.results | filter:telephone.userInput | orderBy:'property_code'">
					<h2 class="md-avatar md-headline" ng-class="telephone.status == 'active' ? 'blue-bg' : (telephone.status == 'repair' ? 'orange-bg' : 'red-bg')" layout="row" layout-align="center center" layout="row" layout-align="center center">
						<span class="weight-200 white-text">{{ telephone.first_letter }}</span>
					</h2>
					<div class="md-list-item-text" layout="column" flex ng-click="show(telephone.department_id, telephone.work_station_id)">
						<h3>Property: {{ telephone.property_code }}</h3>
						<h4>Serial: {{ telephone.serial }} <span ng-if="!telephone.serial">N/A</span></h4>
						<p>Work Station: {{ telephone.work_station_name }}</p>
					</div>
					<div layout="row" layout-align="end center" ng-if="telephone.status=='repair'">
						<md-button class="md-icon-button" ng-click="repaired(telephone.asset_tag_id)">
							<md-icon class="mdi mdi-check grey"></md-icon>
							<md-tooltip>Repaired</md-tooltip>
						</md-button>
						<md-button class="md-icon-button" ng-click="dispose(telephone.asset_tag_id)">
							<md-icon class="mdi mdi-delete grey"></md-icon>
							<md-tooltip>Dispose</md-tooltip>
						</md-button>
					</div>
				</md-list-item>
			</md-list>
			<md-card-content ng-if="!telephone.results.length">
				<p class="secondary-text">No results found.</p>
			</md-card-content>
		</md-card>
	</div>
</div>

<!-- Paginated Data -->
<div class="fade-transition" ng-if="telephone.paginated.show" flex infinite-scroll='telephone.paginateLoad()' infinite-scroll-distance="2" infinite-scroll-disabled="telephone.busy" infinite-scroll-parent>
	<div layout="column" flex>
		<div layout-margin layout-padding>
			<md-subheader class="md-no-sticky md-primary">
				{{ listType }}
			</md-subheader>
			<md-card>
				<md-list layout-padding>
					<md-list-item class="md-3-line" layout="row" ng-repeat="telephone in telephone.paginated.data | filter:telephone.userInput | orderBy:'property_code'">
						<h2 class="md-avatar md-headline" ng-class="telephone.status == 'active' ? 'blue-bg' : (telephone.status == 'repair' ? 'orange-bg' : 'red-bg')" layout="row" layout-align="center center">
							<span class="weight-200 white-text">{{ telephone.first_letter }}</span>
						</h2>
						<div class="md-list-item-text" layout="column" flex ng-click="show(telephone.department_id, telephone.work_station_id)">
							<h3>Property: {{ telephone.property_code }}</h3>
							<h4>Serial: {{ telephone.serial }} <span ng-if="!telephone.serial">N/A</span></h4>
							<p>Work Station: {{ telephone.work_station_name }}</p>
						</div>
						<div layout="row" layout-align="end center">
							<md-button class="md-icon-button" ng-click="repaired(telephone.asset_tag_id)">
								<md-icon class="mdi mdi-check grey"></md-icon>
								<md-tooltip>Repaired</md-tooltip>
							</md-button>
							<md-button class="md-icon-button" ng-click="dispose(telephone.asset_tag_id)">
								<md-icon class="mdi mdi-delete grey"></md-icon>
								<md-tooltip>Dispose</md-tooltip>
							</md-button>
						</div>
					</md-list-item>
				</md-list>
				<md-card-content ng-if="!telephone.paginated.data.length">
					<p class="secondary-text">No records yet.</p>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>