/* Material Design Color : Blue - Light Blue Theme */
/* Primary Pallete */
$primary500: #2196F3;
$primary700: #1976D2;
$primary100: #BBDEFB;

/* Accent Pallete */
$accent500: #03A9F4;

/* Text Colors */
$text-on-primary: #FFFFFF;
$main-text: #212121;
$secondary-text: #727272;

$red500: #F44336;