<section layout="row" flex class="full-height-min">
	<md-sidenav class="md-sidenav-left full-height-max md-whiteframe-2dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" layout="column" flex>
		<md-toolbar class="site-logo white-toolbar" layout="row" layout-align="center center">
			<a ui-sref="main" layout="row" layout-align="center center" layout-padding>
				<img src="/assets/img/2Color-Favicon_512x512-1-raw.png" alt="Personiv Logo" class="site-logo">
			</a>
		</md-toolbar>
		<md-content layout="column" layout-align="space-between center" flex>
			<!-- Sidenav -->
			<div class="full-width-min" ui-view="left-sidenav" flex id="left-sidenav"></div>
		</md-content>
	</md-sidenav>
	<!-- Content Container -->
	<md-content flex layout="column" class="full-height-max content-container" ui-view="content-container"></md-content>
</section>