<section layout="row" flex class="full-height-min">
	<md-sidenav class="md-sidenav-left full-height-max" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layout="column" flex>
		<md-toolbar class="site-logo" layout="row" layout-align="center center">
			<a ui-sref="main" layout="row" layout-align="center center">
				<img src="/assets/img/Personiv-Final_white_transparent.png" alt="Personiv Logo" class="site-logo">
			</a>
		</md-toolbar>
		<!-- Avatar Section -->
		<div class="avatar-container" layout="column" layout-align="end start" layout-padding>
			<img src="/assets/img/profilepic.jpg" alt="avatar">
			<br>
			<span class="md-body-2 white-text">{{ user.first_name }}</span>
			<span class="md-body-1 white-text">{{ user.email }}</span>
		</div>
		<md-content layout="column" layout-align="space-between center" class="blue-bg" flex>
			<!-- Sidenav -->
			<div class="full-width-min" ui-view="left-sidenav" flex id="left-sidenav"></div>
		</md-content>
		<!-- Copyrights -->
		<div layout="column" class="copyrights blue-bg">
		    <p class="md-caption white-text">© Designed and Built by <br>Mcoy - IT Programmer <br>marco.paco@personiv.com <br>Personiv</p>
		</div>
	</md-sidenav>
	<md-content flex layout="column" class="full-height-max">
		<md-toolbar class="white-toolbar md-whiteframe-2dp">
			<!-- Toolbar -->
			<div ui-view="toolbar" layout="row" layout-padding layout-margin flex class="md-toolbar-tools"></div>
		</md-toolbar>
		<!-- Content -->
		<md-content layout="row" layout-padding layout-margin flex ui-view="content-container"></md-content>
	</md-content>
</section>